# [include]
# 	path = ~/repos/dotfiles/.gitconfig
[user]
	name = Shigeki Suwa
	email = shigeki.suwa@ztrehagem.dev
	# signingkey = XXXXXXXXXXXXXXXX
[alias]
	graph = log --oneline --graph --decorate=full
	g = graph
	ga = g --all
	f = fetch
	fp = fetch -p
	s = status
	sw = switch
	ch = checkout
	b = branch
	com = commit -m
	amend = commit --amend
	c = cz c
	publish = "!f(){ git push -u ${1:-origin} $(git rev-parse --abbrev-ref HEAD) ;};f"
	pub = publish
	cleanbranch = "!git branch --merged | xargs git branch -d 2>/dev/null"
	cb = cleanbranch
[credential]
	helper = cache
	# helper = osxkeychain
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[commit]
	# gpgsign = true
